<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="com.reactnative.hybridnavigation.example">

	<uses-permission android:name="android.permission.INTERNET" />

	<application
		android:name=".MainApplication"
		android:label="@string/app_name"
		android:icon="@mipmap/ic_launcher"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:allowBackup="false"
		tools:targetApi="28"
		tools:ignore="GoogleAppIndexingWarning"
		android:theme="@style/AppTheme">

		<meta-data
			android:name="android.max_aspect"
			android:value="2.4" />
		<meta-data
			android:name="android.notch_support"
			android:value="true" />
		<meta-data
			android:name="notch.config"
			android:value="portrait|landscape" />

		<activity
			android:name=".MainActivity"
			android:theme="@style/SplashTheme"
            android:configChanges="keyboard|keyboardHidden|screenSize|uiMode"
			android:launchMode="singleTask"
			android:windowSoftInputMode="adjustResize">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>

			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="hbd" />
			</intent-filter>
		</activity>
	</application>

</manifest>